.wrap {
  box-sizing: border-box;
  position: relative;
}
.btnWrap {
  box-sizing: border-box;
  padding: 0 20px;
}
.button {
  width: 100%;
}
.centerWrapper {
  box-sizing: border-box;
  padding: 120px 0;
  &_icon {
    width: 128px;
    height: 128px;
  }
}
.navbar {
  // box-sizing: border-box;
  // padding: 40px 16px 12px;
  &_icon {
    width: 30px;
    height: 30px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}