.wrap {
  box-sizing: border-box;
  position: relative;
}
.navbar {
  position: sticky;
  z-index: var(--z-index-navbar);
  svg {
    width: 28px;
    height: 25px;
    position: relative;
    top: 2px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}