.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px - 240px);
}
.tabs {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}
.inputPad_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.createTag {
  fill: var(--main);
}
