.wrap {
  box-sizing: border-box;
  padding: 30px 16px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, var(--welcome-bg-start) 0%, var(--welcome-bg-end) 100%);
  top: 1px;
}

.iconWrap {

}

.fontWrap {
  margin-left: 12px;
  color: #fff;
  font-size: 24px;
}
