.wrap {
  display: flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  a {
    display: inline-flex;
    font-size: 12px;    
    color: #bbb;
  }
  &_welcome {
    background: rgb(30, 136, 241);
    a {
      color: #fff;
    }
  }
}